{% extends "templates/layouts/default.html" %}

{% macro showArt(art, cssClass) %}
<li class="{{ cssClass }}">
	<img alt="{{ art.title }}" id="activeImage" title="{{ art.title }}" src="{{ art._.image.scale(920)}}" />
        <div class="divCaption"><h3>{{ art.title }}</h3><h4>Price: ${{ art.price }}</h4><p>{{ art.content.brief|safe }}</p></div>
</li>
{% endmacro %}
{% block css %}
<link href="/styles/galleria.css" rel="stylesheet">
<link href="//cdn.rawgit.com/noelboss/featherlight/1.0.3/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
{% endblock %}
{% block intro %}
<div class="container">
	{% set title = ( data.category.name if data.category else "Art" ) %}
	<h1>{{ title }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row" >
		<div class="gallery">
			<ul class="gallery_art">
				{% set cssClass="active" %}
				{% for piece in data.pieces.results %} 
					{{ showArt(piece, cssClass)}} 
					{% set cssClass="" %}

				{% endfor %}
			</ul>
		</div>
		<div id="main_image" >&nbsp;</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="/js/lib/jquery.galleria.js"></script>
<script src="/js/lib/galleria_cust.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.0.3/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
